---
import { Image, getImage } from 'astro:assets';
import StoreButtons from './StoreButtons.astro';
import appIconSource from '../../assets/icon.png';
import iosMaskBorderSource from '../../assets/ios-mask-border-128.svg';
import iosMaskSource from '../../assets/ios-mask.svg';

const iosMaskBorder = await getImage({ src: iosMaskBorderSource });
const iosMask = await getImage({ src: iosMaskSource });
---

<header class="mx-auto mt-8 mb-4 flex w-full max-w-[960px] flex-row items-start px-[30px] md:mt-32 md:mb-16 md:items-center">
  <div
    class="mr-4 inline-block h-full w-full max-w-[100px] max-h-[100px] bg-contain bg-no-repeat p-[1px] md:mr-16 md:max-h-[250px] md:max-w-[250px]"
    style={`background-image: url(${iosMaskBorder.src});`}
  >
    <Image
      src={appIconSource}
      alt="Lanis-Mobile"
      class="h-auto w-full rounded-[22.5%]"
      style={`mask-image: url(${iosMask.src}); -webkit-mask-image: url(${iosMask.src}); mask-size: cover; -webkit-mask-size: cover;`}
    />
  </div>
  <div>
    <h1 class="m-0 font-bold text-4xl text-[var(--font-xl)]">Lanis-Mobile</h1>
    <p class="mt-2 mb-0 text-[var(--font-lg)] md:my-4 text-xl">Deine App für das hessische Schulportal!</p>
    <p>In Zusammenarbeit mit dem staatlichen Schulamt für den Landkreis Groß-Gerau und den Main-Taunus-Kreis</p>
    <StoreButtons />
  </div>
</header>

<div class="mx-auto mb-16 w-full max-w-[960px] px-[30px] md:hidden">
  <StoreButtons mobile={true} />
</div>
